<!DOCTYPE html>
<html>
	<head>
		
		<title>Our Purpose &mdash; UK&amp;I Advisory &mdash; Ernst &amp; Young</title>
		
		<meta name="description" content="Our Purpose" />
		<meta name="keywords" content="our purpose, ernst, young" />
		<link rel="shortcut icon" href="/favicon.ico?v1" />
		<meta name="robots" content="noindex,nofollow" />
	
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
				
		<% if Rails.env.production? %>
			<script type="text/javascript">

			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-35888185-1']);
			  _gaq.push(['_trackPageview']);

			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();

			</script>
		<% end %>
				
	</head>
	<body class="<%= "section_#{params[:controller].parameterize.underscore} view_#{params[:action]}"%>">

		<header class="container">
			<h1>
				<strong>UK&amp;I Advisory</strong><br />
				<% if params[:action] == "home" %>
					Our Purpose 
				<% else %>
					<%= link_to "Our Purpose", root_path %>
					<span><%= params[:action].titlecase %></span>
				<% end %>
				
			</h1>
		</header>

		<div id="primary_content">
			<%= yield %>
		</div>
		
		<footer class="container">
			<p>A Pipeline Project 2012</p>
		</footer>

	</body>
</html>